<%- include('./header.ejs') %>

  <section class="cmspage mtb-40">
    <div class="container">
      <h1>About</h1>
      <div class="page-desc">
        <p>We Are India's Leading Supplier Of electronic instruments. Regicon involves in the business of
          electronic products. Regicon Instruments established in the year of 2000 with the aim of providing
          complete solution of instrumentation with latest-state-of-art Technologies.

          Regicon can provide best instrumentation, technical assistance and services in any electronic requirements
          after studying the application carefully.
          We can also implement and install all supplied equipment on the site. It’s after sales support is believed as
          one of the best in the segment.
          We have an experienced team of technocrats and engineers to perform tasks.
          In tune with its philosophy of total customer satisfaction, Regicon has tied up with world renowned electronic
          companies to serve best technologies to the Industries.</p>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="copyright">
        <div>Designed by RSGiTECH</div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  </body>

  </html>