<%- include('./header.ejs') %>


    <section class="dashboard-wrap mtb-40">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dash-left">
                            <ul>
                                <li class="active"><a href="/dashboard" class="active">Dashboard</a></li>
                                <li><a href="/admin_blog_list">Blogs</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <h1>Welcome <span style="color: #007edb;">
                                    <%= n %>
                                </span>
                            </h1>
                            <p>"Welcome to dashboard,<span
                                    style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                    <%= n %>
                                </span> !We are thrilled to extend a warm welcome to you as the
                                newest
                                member of our team! Your
                                arrival marks an exciting milestone for us, and we are eager to embark on this
                                journey
                                together. “Welcome in the team” is not just a phrase for us; it embodies our
                                commitment
                                to fostering a supportive and inclusive work environment where every individual's
                                unique
                                talents and perspectives are valued. As you settle into your role, you'll find that
                                our
                                team is dedicated to collaboration, innovation, and achieving common goals. We
                                encourage
                                you to bring your fresh ideas and enthusiasm to the table, as they will undoubtedly
                                contribute to our collective success. If there's anything you need or any questions
                                you
                                have, don't hesitate to reach out. Once again, welcome aboard, and let's accomplish
                                great things together!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="copyright">
                <div>Designed by RSGiTECH</div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    </body>

    </html>